<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graph 3D</title>
    <script src="https://threejs.org/build/three.js"></script>
    <link href="/3D/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h2><a href="https://discoverthreejs.com/">Discoverthreejs.com</a></h2>
    <canvas class="bg-c" id="c"> </canvas>
    <script src="/3D/js/app.js"></script>
    <!--<script src="js/three/three.js-master/build/three.js"></script>-->
  </body>
</html>
