<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Construit ton projet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- TODO: replace by prod version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="/ConstruitTonProjet/css/style.css">
    <script src="/ConstruitTonProjet/js/main.js" charset="utf-8"></script>
  </head>
  <body>
      
    <center>
          <img src="logo_Leroy_Merlin.png" width="300" height="200" />
    </center>
          <h1 class ="text"> LeRoy Merlin</h1>
      
    <center>    
          <img src="https://raw.githubusercontent.com/charles66820/nuitinfodefi1/master/plan%20maison.jpg" width="900" height="1000" />
    </center>

    <div id="app">
      {{ message }}
    </div>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
    </script>
    <DIV id="salon">
        <center>
          <img scr="image_salon.jpg" width="900" height="1000"/>
        </center>
        <p>
          Leroy Merlin est une entreprise chaleureuse et conviviale. Ce n'est pas pour rien qu'elle à
          été 3ème au classement des "Great Place To Work" en 2018. Le travail d'équipe et l'entraide 
          fait partie de l'ADN de Leroy Merlin. La cohesion d'équipe mais aussi l'autonomie et la 
          prise d'initiative et de responsabilité sont aussi des aspects importants du quotidien de 
          ceux qui y travaillent.
        </p>
      </DIV>
      <DIV id="Terrasse">
          <center>
            <img scr="image_terrasse.jpg" width="1000" height="750"/>
          </center>
          <p>
            Si les perspectives d'avenir et d'évolution sont fondamentales pour vous, alors vous êtes au
            bon endroit. En effet, ce n'est pas chez Leroy Merlin que vous serrez
          </p>
        </DIV>
        <DIV id="cuisine">
            <center>
              <img scr="image_cuisine.jpg" width="1070" height="800"/>
            </center>
            <p>
              Leroy Merlin est une des plus grosses entreprises françaises, et est même leader dans son
              domaine.
              
            </p>
          </DIV>
  </body>
</html>
