<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Construit ton projet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- TODO: replace by prod version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="/ConstruitTonProjet/css/style.css">
    <script src="/ConstruitTonProjet/js/main.js" charset="utf-8"></script>
  </head>
  <body>
      
    <center>
          <img src="logo_Leroy_Merlin.png" width="300" height="200" />
    </center>
          <h1 class ="text"> LeRoy Merlin</h1>
      
    <center>    
          <img src="https://raw.githubusercontent.com/charles66820/nuitinfodefi1/master/plan%20maison.jpg" width="900" height="1000" />
    </center>

    <div id="app">
      {{ message }}
    </div>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
    </script>
  </body>
</html>
